*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #0080ff;
    --secondary-color: #b3d9ff;
    --tertiary-color: #9593E6;
}


/* REGOLE COMUNI */
section{
    margin-bottom: 2rem;
}

.fc{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    justify-content: center;
    align-items: center;
}

.fi{
    margin: 1rem .5rem;
}

.bg-white{
    background-color: #fff;
}

.text-white{
    color: #fff;
}

.container *{
    padding: 1rem .5rem;
    text-align: center;
}

.btn{
    background-color: var(--tertiary-color);
    border-radius: 15px;
    padding: .5rem 2rem;
    text-decoration: none;
}

.btn-white{
    background-color: #fff;
    border-radius: 15px;
    padding: .5rem 2rem;
    color: #000;
}

.title{
    color: var(--primary-color);
}

.bigger{
    font-size: 40px;
}

.rounded{
    border-radius: 1.5rem;
}

p{
    line-height: 2rem;
}

img{
    width: 90%;
}

/* FINE REGOLE COMUNI */


/* HEADER */
header{
    background-color: rgb(10, 119, 221);
    width: 100%;
}

header .fc{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .content i{
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.hidden{
    display: none;
}

header .hidden ul li{
    list-style: none;
    display: inline-block;
    padding: 0 .5rem;
}

header .hidden ul li a{
    text-decoration: none;
    color: #000;
}

header .hidden ul li .btn-white a{
    background-color: #fff;
    border-radius: 15px;
    padding: .5rem 2rem;
    color: #000;
}
/* FINE HEADER */


/* MAIN */

/* SEZIONE PRESENTATION */
#presentation .fc{
    flex-wrap: wrap;
    padding: 1.5rem 0.75rem;
}

#presentation .fi #small{
    font-size: 1rem;
}

#presentation .fc .fi{
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
}

#presentation .fc .fi *:not(img){
    margin: 2rem 1rem;
}

#presentation .btn{
    background-color: var(--primary-color);
    padding: .5rem 3rem;
    color: #fff;
}

.pres-img img{
    margin: 2.5rem auto 0 auto;
    display: block;
    padding: 0;
}

#presentation .fi i{
    font-size: 5rem;
    color: var(--primary-color);
}


/* SEZIONE PLANNING */
#planning .fc{
    background-color: var(--tertiary-color);
    text-align: center;
}

#planning .fi *{
    margin: 1rem;
}

#planning .fi .circle{
    border-radius: 50%;
    padding: .5rem .1rem;
}
/* FINE PLANNING */


/* SEZIONE TESTIMONIALS */
#testimonials .container h4{
    font-weight: normal;
}

#testimonials .container .bigger{
    color: var(--tertiary-color);
}

#testimonials .fc{
    background-color: var(--tertiary-color);
    margin: 1rem .75rem;
}

#testimonials .fi-image{
    width: 40%;
}

#testimonials .fi-image img{
    border-radius: 50% / 90%;
}

#testimonials .fi{
    width: 60%;
}

#testimonials i{
    font-size: 1.2rem;
    margin: 0 .2rem;
}
/* FINE TESTIMONIALS */


/* SEZIONE WHY-US */
#why-us{
    background-color: var(--tertiary-color);
}

#why-us >h2{
    text-align: center;
    padding-top: 2rem;
}

#why-us .fi{
    background-color: #fff;
    padding: 2rem .75rem;
}

#why-us .fi *{
    margin: 1.2rem 1rem;
}

#why-us .fi h2, #why-us .fi h3{
    color: var(--tertiary-color);
}

#why-us .fi h2{
    font-size: 50px;
}

#why-us .fi h3{
    font-size: 25px;
}

#why-us .fi a{
    padding: .5rem 2.5rem;
}
/* FINE WHY-US */


/* SEZIONE ABOUT-US */
#about-us .container *{
    text-align: left;
}

#about-us .abt-us h2{
    color: var(--tertiary-color);
}

#about-us .abt-us-img img{
    width: 50%;
    border-radius: 50%;
}

#about-us .abt-us-img h3{
    color: var(--tertiary-color);
    font-size: 25px;
}
/* FINE ABOUT US */


/* SEZIONE GET-STARTED */
#get-started{
    background-color: var(--tertiary-color);
}

#get-started .btn{
    color: var(--tertiary-color);
    background-color: #fff;
}

#get-started .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#get-started .container h3{
    color: rgb(211, 209, 209);
    font-weight: normal;
}

#get-started .container h2{
    font-size: 30px;
}

#get-started .container h1{
    color: rgb(253, 185, 97);
    font-size: 50px;
}

#get-started .container .btn{
    color: #000;
    padding: 1rem 4rem;
    border-radius: 2rem;
}

#get-started .container ul{
    display: inline-block;
}

#get-started .container ul li a{
    text-decoration: none;
}
/* FINE GET-STARTED */


/* INIZIO FOOTER */
footer{
    background-color: #444;
    margin-top: -2rem;
}

footer *{
    padding: 1.5rem .5rem;
}

footer *:not(a){
    color: #fff;
}

footer a{
    color: var(--tertiary-color);
}


/* MEDIA QUERY */
/* TABLET */
@media screen and (min-width: 768px){
    #presentation .fc .fi{
        width: calc((100% / 3) - 1rem);
        margin: 1rem .5rem;
        flex-grow: 0;
    }

    #presentation .fc .fi:first-child{
        display: flex;
        flex-wrap: wrap;
        width: calc(66.666% - 1rem)
    }

    #presentation .pres-info, #presentation .pres-img{
        text-align: left;
    }

    #presentation .pres-img img{
        width: 70%;
        margin: 2rem auto 0 0;
    }

    #presentation .fc .resize .text{
        margin-bottom: 23rem;
    }

    #testimonials .fc{
        flex-wrap: nowrap;
    }

    #testimonials .fi-image{
        width: 30%;
    }

    #testimonials .fi{
        width: 70%
    }

    #why-us .fc .fi{
        width: calc((100% / 2) - 1.5rem);
    }

    #about-us .container{
        display: flex;
    }

    #about-us .container .abt-us{
        width: 60%;
    }

    #about-us .container .abt-us-img{
        width: 40%;
    }

    footer .container{
        width: 50%;
        margin: auto;
    }
}


/* DESKTOP */
@media screen and (min-width: 992px) {
    header .fc{
        padding: 1rem 15rem;
    }

    header .content{
        display: none;
    }

    header .hidden{
        display: block; 
        align-items: center;
    }


    #presentation .fc .fi:first-child{
        display: flex;
        flex-wrap: nowrap;
    }

    #presentation .pres-img img{
        width: 80%;
    }

    #presentation .fc .resize .text{
        margin-bottom: 0rem;
    }

    #planning .fc{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    #why-us .fc .fi{
        width: calc((100% / 3) - 1.5rem);
    }

    footer .container{
        width: 50%;
        margin: auto;
    }
}