*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #0080ff;
    --secondary-color: #b3d9ff;
    --tertiary-color: #bf80ff;
}


/* REGOLE DI DEBUG */
.debug #planning .fc{
    height: 500px;
}

.debug #testimonials .fi{
    height: 200px;
}



/* FINE DEBUG */


/* REGOLE COMUNI */
.fc{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    justify-content: center;
    align-items: center;
}

.fi{
    margin: 1rem .5rem;
    padding: 1rem .5rem;
}

.bg-white{
    background-color: #fff;
}

.container *{
    padding: 1rem .5rem;
    text-align: center;
}

.btn{
    background-color: var(--tertiary-color);
    border-radius: 15px;
    padding: .5rem 2rem;
}

.btn-white{
    background-color: #fff;
    border-radius: 15px;
    padding: .5rem 2rem;
    color: #000;
}

/* FINE REGOLE COMUNI */



/* HEADER */
header{
    background-color: rgb(10, 119, 221);
    width: 100%;
}

header .fc{
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .content i{
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.hidden{
    display: none;
}

header .hidden ul li{
    list-style: none;
    display: inline-block;
    padding: 0 .5rem;
}

header .hidden ul li a{
    text-decoration: none;
    color: #000;
}

header .hidden ul li .btn-white a{
    background-color: #fff;
    border-radius: 15px;
    padding: .5rem 2rem;
    color: #000;
}
/* FINE HEADER */



/* MAIN */
/* SEZIONE PRESENTATION */
#presentation .fc{
    flex-wrap: wrap;
    padding: 1.5rem 0.75rem;
}

#presentation .fc .fi{
    background-color: var(--secondary-color);
    width: 100%;
    margin: 1rem 0;
    text-align: center;
}

#presentation .fc .fi *{
    padding: 1rem 1rem;
}


/* SEZIONE PLANNING */
#planning .fc{
    background-color: var(--tertiary-color);
    text-align: center;
}
/* FINE PLANNING */



/* SEZIONE TESTIMONIALS */
#testimonials .fc{
    background-color: var(--tertiary-color);
    margin: 1rem .75rem;
}

#testimonials .fi-image{
    width: 20%;
}

#testimonials .fi{
    width: 80%;
}
/* FINE TESTIMONIALS */



/* SEZIONE WHY-US */
#why-us{
    background-color: var(--tertiary-color);
}

#why-us >h2{
    text-align: center;
    padding-top: 2rem;
}

#why-us .fi{
    background-color: #fff;
    padding: 2rem .75rem;
}

#why-us .fi *{
    margin: 1rem 0;
}
/* FINE WHY-US */



/* SEZIONE ABOUT-US */
#about-us .container *{
    text-align: left;
}

#about-us .container p{
    line-height: 2rem;
}
/* FINE ABOUT US */


/* SEZIONE GET-STARTED */
#get-started{
    background-color: var(--tertiary-color);
}

#get-started .btn{
    color: var(--tertiary-color);
    background-color: #fff;
}

#get-started .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FINE GET-STARTED */


/* INIZIO FOOTER */
footer{
    background-color: #333;
}

footer *{
    padding: 1.5rem .5rem;
}























/* MEDIA QUERY */
/* TABLET */
@media screen and (min-width: 768px){
    #presentation .fc .fi{
        width: calc((100% / 3) - 1rem);
        margin: 1rem .5rem;
        flex-grow: 0;
    }

    #presentation .fc .fi:first-child{
        display: flex;
        flex-wrap: wrap;
        width: calc(66.666% - 1rem)
    }

    #testimonials .fc{
        flex-wrap: nowrap;
    }

    #why-us .fc .fi{
        width: calc((100% / 2) - 1.5rem);
    }

    #about-us .container{
        display: flex;
    }

    footer .container{
        width: 50%;
        margin: auto;
    }
}


/* DESKTOP */
@media screen and (min-width: 992px) {
    header .fc{
        padding: 1rem 15rem;
    }

    header .content{
        display: none;
    }

    header .hidden{
        display: block; 
        align-items: center;
    }


    #presentation .fc .fi:first-child{
        display: flex;
        flex-wrap: nowrap;
    }

    #planning .fc{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    #why-us .fc .fi{
        width: calc((100% / 3) - 1.5rem);
    }

    footer .container{
        width: 50%;
        margin: auto;
    }
}